:root {
    --preto-fundo: #00030C;
    --branco-principal: #FFF;
    --azul-button: #167BF7;
    --cinza-secundario: #C0C0C0;
    --gelo-secundario: #F9F9F9;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background: var(--preto-fundo);
    color: var(--branco-principal);

}

.apresentacao {
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
   
}

.container {
    height: 100vh;
}